<% if content_for?(:filter_form) %>
  <%= render 'filter' do %>
    <%= yield :filter_form %>
  <% end %>
<% end %>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="card-title mb-0"><%= @model_name.capitalize %> List</div>
      <%= link_to 'Create', url_for({ action: :new }), class: 'btn btn-success' if (can? :create, @model) %>
    </div>
  </div>
  <div class="card-body">
    <% if @resources.size == 0 %>
      <h5 class="text-center my-5">This Table is Empty</h5>
    <% else %>
      <table class="table table-responsive-sm table-striped">
        <thead>
        <tr>
          <%= yield :th %>
          <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% if content_for?(:tb) %>
          <%= yield :tb %>
        <% else %>
          <% @resources.each do |resource| %>
            <tr>
              <%= yield resource %>
              <td class="text-right">
                <% if can? :read, resource %>
                  <%= link_to 'Show', ({ action: 'show', id: resource.id }), class: 'btn btn-info btn-sm' %>
                <% end %>
                <% if can? :update, resource %>
                  <%= link_to 'Edit', ({ action: 'edit', id: resource.id }), class: 'btn btn-warning btn-sm' %>
                <% end %>
                <% if can? :destroy, resource %>
                  <%= link_to 'Delete', ({ action: 'destroy', id: resource.id }), method: :delete, data: { confirm: 'Are you sure to delete?' }, class: 'btn btn-danger btn-sm' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <!--    <nav aria-label="Page navigation example">-->
    <!--      <ul class="pagination justify-content-end">-->
    <!--        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>-->
    <!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
    <!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
    <!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
    <!--        <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
    <!--      </ul>-->
    <!--    </nav>-->
  </div>
  <div class="card-footer">
    <%= paginate @resources, views_prefix: 'manage' %>
  </div>
</div>